* {
  padding: 0;
  box-sizing: border-box;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background: transparent;
  z-index: 100;
}

body {
  background: #000000;
}
* {
  cursor: none !important;
}
